div.pl-summary-journals td.centered {
    text-align: center;    
}

div.pl-summary-journals td.long-text {
  text-align: left;    
}



div.pl-summary-journals td.rowheading {
  text-align: center;    
  background: #dddddd;
  color: #222222;
  font-size: large;
}


div.pl-summary-journals .hasPopup {
    position: relative;
}

div.pl-summary-journals .popup {
    position: absolute;
    top: -50px;
    left: 200px;
    /* transform: translateY(70%) scale(0); */
    transform: scale(0);
    transition: transform 0.1s ease-in;
    transform-origin: left;
    display: inline;
    background: #eeeeee;
    z-index: 20;
    min-width: 300px;
    padding: 1rem;
    border: 1px solid black;
  }

  div.pl-summary-journals .hasPopup:hover div {
    /* transform: translateY(-70%) scale(1); */
    transform: scale(1);
  }


  div.pl-summary-journals table {
    border-collapse: collapse;
  }


  p.compendiumSource {
    font-style: italic;
    color: #222222;
  }