<div class="pl-summary-journals">
    <table class="table summary-table">
        <tbody>


        {{#each folders}}
            {{#if @key}}
                <tr><td colspan=9 class="rowheading">{{@key}}</td></tr>
                <tr>
                    <th>Name</th>
                    <th>Requirements</th>
                    <!-- <th>Source</th> -->
                </tr>
            {{else}}
                <tr>
                    <th>Name</th>
                    <th>Requirements</th>
                    <!-- <th>Source</th> -->
                </tr>    
            {{/if}}          
            {{#each this}}
                <tr>
                    <td class="hasPopup">
                        @Compendium[{{compendiumPackage}}.{{compendiumName}}.{{ogId}}]{ {{~data.name~}}}
                        <div class="popup">{{plainTextDescription}} Source: {{compendiumLabel}}</div>
                    </td>
                    <td class="long-text">{{data.data.requirements.value}}</td>
                    <!-- <td class="centered"><em>{{compendiumLabel}}</em></td> -->
                </tr>
            {{/each}}
        {{/each}}        
        </tbody>
    </table>
</div>