
<div class="pl-summary-journals">
    <table class="table summary-table">

        <tbody>
            <tr>
                <th>Name</th>
                <th>Damage</th>
                <th>Range</th>
                <th>{{ localize "SWADE.Parry" }}</th>
                <th>{{ localize "SWADE.Ap" }}</th>
                <th>{{ localize "SWADE.RoF" }}</th>
                <th>{{ localize "SWADE.Weight" }}</th>
                <th>Price</th>
                <!-- <th>Source</th> -->
            </tr>
        {{#each folders}}
            {{#if @key}}
                <tr><td colspan=9 class="rowheading">{{@key}}</td></tr>
            {{/if}}            
            {{#each this}}
                <tr>
                    <td class="hasPopup">
                        @Compendium[{{compendiumPackage}}.{{compendiumName}}.{{ogId}}]{ {{~data.name~}}}
                        <div class="popup">{{plainTextDescription}} Source: {{compendiumLabel}}</div>
                    </td>
                    <td class="centered">{{data.data.damage}}</td>
                    <td class="centered">{{data.data.range}}</td>
                    <td class="centered">{{data.data.parry}}</td>
                    <td class="centered">{{data.data.ap}}</td>
                    <td class="centered">{{data.data.rof}}</td>
                    <td class="centered">{{data.data.weight}}</td>
                    <td class="centered">{{data.data.price}}</td>
                    <!-- <td class="centered"><em>{{compendiumLabel}}</em></td> -->
                </tr>
            {{/each}}
        {{/each}}
        </tbody>
    </table>
</div>